# dotenv
.env

# Node packages
/node_modules/

# Yarn
/yarn.lock
/yarn-error.log

# npm
/npm-debug.log
/npm-debug.log.*

# pnpm
/shrinkwrap.yaml

# Generated or temporary content
/build/
/dist/

# IDEs
# /.vscode/ # I'm using this!
/.idea/