# dotenv
.env

# Node packages
/node_modules/

# Yarn
/yarn.lock
/yarn-error.log

# npm
#/package-lock.json
/npm-debug.log
/npm-debug.log.*

# pnpm
/shrinkwrap.yaml
/pnpm-debug.log

# Generated or temporary content
/build/
/dist/

# IDEs
/.vscode/
/.idea/